// container 
.container {
    width: 1400px;
    margin: 0 auto;
    position: relative;
}

// wrap__title 
.wrap__title {
    padding: 18rem 0 10rem;
}

.wrap__title h1 {
    color: #fff;
    font-size: 10vmax;
    line-height: 0.85;
    letter-spacing: -0.0275em;
    font-family: "Saol";
    text-transform: uppercase;
}

.wrap__title h1 strong,
.wrap__title h1 em {
    display: block;
    padding-top: 10px;
}

// header
#header {
    overflow: hidden;
    z-index: 1200;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    color: #fff;
    border-bottom: 1px solid #2e2e30;
    display: flex;
    align-items: center;
    font-family: 'Rajdhani';
    text-transform: capitalize;
    font-weight: 500;
    background: #000;
}

.header__port {
    flex: 1 1 35%;
    padding-left: 1rem;
}

.header__port a {
    position: relative;
    padding-left: 10px;
}

.header__port a::before {
    content: "";
    width: 5px;
    height: 5px;
    background: #fff;
    position: absolute;
    left: 0;
    top: 3px;
    border-radius: 50%;
}

.header__port a::after {
    content: "";
    width: 5px;
    height: 5px;
    background: #fff;
    position: absolute;
    left: 0;
    top: 11px;
    border-radius: 50%;
}

.header__logo {
    flex: 1 1 30%;
    text-align: center;
    margin: 1.5rem;
}

.header__logo a {
    font-family: "Playfair Display";
    font-size: 1.8rem;
    line-height: 1;
}

.header__menu {
    flex: 1 1 35%;
    text-align: right;
    padding-right: 1rem;

    li {
        display: inline;

        a {
            display: inline-block;
            padding: 12px 10px 10px; 
        }
    }
}
 



//footer
#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 1200;
    width: 100%;
    color: #fff;
    border-top: 1px solid #2e2e30;
    font-family: "Saol";
    font-weight: 500;
    background: #000;
    display: flex;
    align-items: center;
    bottom: 0;

    div {
        text-align: center;
        padding: 30px;

        h4,
        p,
        ul {
            display: inline-block;
        }

        h4 {
            font-family: "Rajdhani", "Chosunilbo_myungjo";
            font-weight: 500;
            opacity: 0.6;
            padding: 0 10px;
        }
    }

    div:nth-child(1) {
        flex: 1 1 25%;
        border-right: 1px solid #2e2e30;
    }

    div:nth-child(2) {
        flex: 1 1 20%;
        border-right: 1px solid #2e2e30;
    }

    div:nth-child(3) {
        flex: 1 1 55%;

        li {
            display: inline-block;
            padding: 0 10px;
        }
    }
}


//footerInfo
#footerInfo {
    background-color: #000;
    height: 100vh;
  }
  .footer__info {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
  }
  .footer__info p {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 80px;
    font-family: "Rajdhani", "Chosunilbo_myungjo";
  }
  .footer__info h3 {
    font-size: 9vw;
    line-height: 1;
    text-transform: uppercase;
    margin-bottom: 5rem;
    font-family: "Saol";
  }
  .footer__info a {
    color: #fff;
    border: 1px solid #fff;
    border-radius: 50px;
    padding: 18px 53px 18px 53px;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    font-family: "Rajdhani", "Chosunilbo_myungjo";
  }