//main
#mainCont {
    height: 100vh;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main__cont {
    color: #fff;
    font-size: 10vw;
    line-height: 0.85;
    letter-spacing: -0.0275em;
    transition: all 2s;
    font-family: 'Saol';
    text-transform: uppercase;
}

//about
#aboutCont {
    background-color: #f0eeeb;
}

.about-cont .about {
    padding-bottom: 250px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.about-cont .about:nth-child(1) .about-img {
    flex: 0 0 100%;
}

.about-cont .about:nth-child(1) .about-txt {
    flex: 0 0 100%;
}

.about-cont .about:nth-child(1) .about-txt h2 {
    margin-top: 2em;
}

.about-cont .about:nth-child(2) .about-img {
    flex: 0 0 64%;
}

.about-cont .about:nth-child(2) .about-txt {
    flex: 0 0 30%;
}

.about-cont .about:nth-child(3) {
    flex-direction: row-reverse;
}

.about-cont .about:nth-child(3) .about-img {
    flex: 0 0 54%;
}

.about-cont .about:nth-child(3) .about-txt {
    flex: 0 0 40%;
}

.about-cont .about .about-txt {
    font-family: 'Chosunilbo_myungjo';
}

.about-cont .about .about-txt h2 {
    margin: 0 0 1em;
    font-size: 1.625rem;
}

.about-cont .about .about-txt p {
    line-height: 1.6;
    font-size: 16px;
}

// portfolio
#portCont {
    background: #000;
    padding-bottom: 200px;
}

.port__cont {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.port__item {
    flex: 0 0 32%;
    margin-bottom: 2%;
}

.port__item__txt {
    padding: 35px 35px 25px 35px;
    background: #151517;
}

.port__item__txt h2 {
    font-family: 'Saol';
    font-size: 50px;
    line-height: 1;
    color: #fff;
}

.port__item__txt p {
    font-size: 16px;
    color: #b0aead;
    font-family: 'Rajdhani';
}